<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".HaoWaiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HaoWai"
        tools:targetApi="34">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.HaoWai">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MessageListActivity"
            android:exported="false"
            android:theme="@style/Theme.HaoWai"
            android:label="@string/title_message_list" />

        <activity
            android:name=".LogListActivity"
            android:exported="false"
            android:theme="@style/Theme.HaoWai"
            android:label="@string/title_log_list" />

        <activity
            android:name=".PushNotifyReceiverActivity"
            android:exported="true"
            android:theme="@style/Theme.HaoWai"
            android:taskAffinity=""
            android:excludeFromRecents="true" />

        <service
            android:name=".service.HwPushService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".service.HaoWaiNotificationListener"
            android:exported="false"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

    </application>

</manifest>
